body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    background: url('img/tlo.jpg');
    background-size: cover;
}
button:disabled{
    cursor: not-allowed;
}
/* GRID */
main {
    display: grid;
    /* grid-template-columns: 85px repeat(auto-fill, minmax (75px, 1fr)); */
    grid-template-columns: 85px repeat(15, 75px);
    grid-template-rows: repeat(20, 75px);
    gap: 1px 1px;
    grid-template-areas: ". . . . . . . . . . . . ."
    ". . . . lizard . logo logo logo logo . . ."
    ". . . . . . . . . . . . ."
    ". register-form register-form register-form register-form register-form . . sign-in sign-in sign-in sign-in sign-in "
    ". register-form register-form register-form register-form register-form . . sign-in sign-in sign-in sign-in sign-in "
    ". register-form register-form register-form register-form register-form . . sign-in sign-in sign-in sign-in sign-in "
    ". register-form register-form register-form register-form register-form . . . . . . ."
    ". register-form register-form register-form register-form register-form . . . . . . ."
    ". register-form register-form register-form register-form register-form . . recovery-form recovery-form recovery-form recovery-form recovery-form "
    ". . . . . . . . recovery-form recovery-form recovery-form recovery-form recovery-form "
    ". . . . . . . . recovery-form recovery-form recovery-form recovery-form recovery-form "
    ". send-email send-email send-email send-email send-email . . recovery-form recovery-form recovery-form recovery-form recovery-form "
    ". send-email send-email send-email send-email send-email . . . . . . ."
    ". send-email send-email send-email send-email send-email . . subscribe-form subscribe-form subscribe-form subscribe-form subscribe-form "
    ". send-email send-email send-email send-email send-email . . subscribe-form subscribe-form subscribe-form subscribe-form subscribe-form "
    ". send-email send-email send-email send-email send-email . . . . . . ."
    ". send-email send-email send-email send-email send-email . . . . . . ."
    ". . . . . . . . lizard-bottom logo-bottom logo-bottom logo-bottom logo-bottom "
    ". . . . . . . .  link-bottom link-bottom link-bottom link-bottom ."
    ". . . . . . . . . . . . .";
}

.lizard {
    grid-area: lizard;
    width: 118px;
}


.logo {
    grid-area: logo;
}

.sign-in {
    grid-area: sign-in;
}

.register-form {
    grid-area: register-form;
}

.send-email {
    grid-area: send-email;
    /* align-self: end; */
}

.recorver-form {
    grid-area: recovery-form;
}

.subscribe-form {
    grid-area: subscribe-form;
}

.lizard-bottom {
    grid-area: lizard-bottom;
}

.logo-bottom {
    grid-area: logo-bottom;
    align-self: end;
        
}

.link-bottom {
    grid-area: link-bottom;
    align-self: end;
    justify-self: end;
}

/* Konic Grid */
i {
    width: 29px;
    height: 25px;
    color: #afafaf;
}

form {
    background-color: #f4f4f4;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 0px 20px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 0px 20px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 0px 20px rgba(0, 0, 0, 0.3);
    margin-top: 45px;
}

h3 {
    text-align: center;
    color: #ffffff;
    font-size: 25px;
    letter-spacing: 1px;
    text-shadow: 2px 2px 2px #000000;
    font-weight: 100;
}

.input-div {
    height: 40px;
    border: 1px solid #808080;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 3px;
}

.input-txt {
    box-sizing: border-box;
    background-color: #f8f8f8;
    border: none;
    height: 30px;
    width: 270px;
    border-left: 1px solid rgba(0, 0, 0, 0.5);
    padding-left: 20px;
    font-size: 18px;
}

.input-txt::placeholder {
    color: #afafaf;
}

#location {
    width: 270px;
    color: #afafaf;
}

textarea {
    box-sizing: border-box;
    height: 230px;
    width: 340px;
    border-radius: 5px;
    padding-top: 15px;
    padding-left: 18px;
    margin-bottom: 15px;
    background-color: #f8f8f8;
}

.check-div {
    margin-bottom: 15px;
}

.btn-submit {
    background-color: #93d02b;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    letter-spacing: 1px;
    border: 1px solid #74a322;
    text-shadow: 2px 2px 2px #000000;
    height: 45px;
    cursor: pointer;
}

.btn-sign-up {
    width: 100%;
}

label {
    line-height: 25px;
    color: #afafaf;
}

#confirm-things,
#send-copy,
#sign-check {
    display: none;
}

input[type=checkbox]+label {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    display: flex;
    flex-flow: row wrap;
}

input[type=checkbox]+label:before {
    position: absolute;
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    top: 0;
    left: 0;
    transition: all .4s ease;
    -webkit-transition: all .5s ease;
    background-color: #ffffff;
    border: 5px solid #ffffff;
    border-radius: 4px;
    padding: 4px;
    -webkit-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.75);
}

input[type=checkbox]+label:hover::before {
    background-color: #cecece;
    ;
}

input[type=checkbox]:checked+label:before {
    background-color: #97d230;

}

input[type=checkbox]:disabled+label:before {
    background-color: #b6b6b6;
    border-color: #b6b6b6;
}

input[type=checkbox]:checked:disabled+label:before {
    background-color: #cccccc;
    border-color: #b6b6b6;
}

.wap-check {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.check-div-sign {
    width: 60%;
    height: 100%;

}

.btn-sign-in {
    width: 40%;
}

.recovery-btn {
    display: flex;
    justify-content: space-around;
}

.rec-send,
.btn-subscribe {
    width: 45%;
}

.rec-done {
    width: 45%;
    background-color: #bcdb97;    
}

.btn-no {
    width: 45%;
    background-color: #f4495b;
    border-color: #f52338;
}

.lizard-bottom {
    width: 80px;
}

.logo-bottom {
    width: 240px;
    height: 65px;
}

.link-bottom {
    width: 280px;
    height: 25px;
    top: 110px;
    right: -10px;
}

@media (max-width: 800px) {

main{
    grid-template-columns: repeat(8, 75px);
    grid-template-rows: repeat(37, 75px);
    gap: 1px 1px;
    grid-template-areas:
    " . . . . . . . . "
    " . lizard . logo logo logo . . " 
    " . . . . . . . . "
    " . .  register-form register-form register-form register-form register-form . "
    " . .  register-form register-form register-form register-form register-form . "  
    " . .  register-form register-form register-form register-form register-form . "  
    " . .  register-form register-form register-form register-form register-form . "  
    " . .  register-form register-form register-form register-form register-form . "  
    " . .  register-form register-form register-form register-form register-form . " 
    " . . . . . . . . " 
    " . . . . . . . . "
    " . . sign-in sign-in sign-in sign-in sign-in . " 
    " . . sign-in sign-in sign-in sign-in sign-in . "  
    " . . sign-in sign-in sign-in sign-in sign-in . " 
    " . . . . . . . . " 
    " . . . . . . . . " 
    " . . recovery-form recovery-form recovery-form recovery-form recovery-form . "      
    " . . recovery-form recovery-form recovery-form recovery-form recovery-form . "  
    " . . recovery-form recovery-form recovery-form recovery-form recovery-form . "  
    " . . . . . . . . " 
    " . . . . . . . . " 
    " . . subscribe-form subscribe-form subscribe-form subscribe-form subscribe-form . "  
    " . . subscribe-form subscribe-form subscribe-form subscribe-form subscribe-form . "  
    " . . . . . . . . " 
    " . . . . . . . . "
    " . . send-email send-email send-email send-email send-email . " 
    " . . send-email send-email send-email send-email send-email . " 
    " . . send-email send-email send-email send-email send-email . " 
    " . . send-email send-email send-email send-email send-email . " 
    " . . send-email send-email send-email send-email send-email . " 
    " . . send-email send-email send-email send-email send-email . " 
    " . . send-email send-email send-email send-email send-email . " 
    " . . . . . . . . " 
    " . . . . . . . . "
    " . . lizard-bottom logo-bottom logo-bottom logo-bottom  . ."
    " . . link-bottom link-bottom link-bottom link-bottom . . " 
    " . . . . . . . . "

    ;

}
}